<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
    div{
        border: 2px solid black;
        text-align: center;
       }
        #up{
            font-size: 100px;
            color: red;
            text-size-adjust: 400px;      
        }
        p{
            font-size: 50px;
            margin: 0px;
        }
       
        button{
            font-size: 50px;
            background-color: aquamarine;
        }
    </style>     
</head>
<body>
    <div>
        <p>______moosetape_____</p>
        <b><p id="up">---295---</p></b>
        <p>_siddhu moosewala_</p>    
        <p>_prod by kodd_</p>
    </div>

 <button><a href="{% url 'logout' %}" class="btn btn-primary">LOGOUT</a></button>
    
</body>
</html>